<header>
    <a href="/">Home</a>
    <% if (data.order) { %>
      <a href="#">Order</a>
    <% } %>
    <a href="/user/add" class="right-side">Sign Up</a> / 
    <a href="/user/login">Login</a>
  </header>