<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login to CiMol Project</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <section>
    <% if (error) { %>
      <p class="error"><%=error%></p>
    <% } %>
    <h1>Login User Here</h1>
    <form action="/user/login" method="POST">
      <label for="">Username</label><br>
      <input type="text" name="username"><br>
      <label for="">Password</label><br>
      <input type="password" name="password"><br>
      <button type="submit">Login</button>
    </form>
    Or, <a href="/washer/login">Login as Washer</a>
  </section>
</body>
</html>