<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login to CiMol Project</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <section>
    <h1>Login Here</h1>
    <form action="#" method="POST">
      <label for="">Username</label><br>
      <input type="text" name=""><br>
      <label for="">Password</label><br>
      <input type="password" name=""><br>
      <label for="role">Select a Role:</label><br>
      <select name="role">
        <option value="user">User</option>
        <option value="washer">Washer</option>
      </select><br>
      <button>Login</button>
    </form>
  </section>
</body>
</html>