<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up to CiMol Project</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <section>
    <% if (err) { %>
      <p class="error"><%=err%></p>
    <% } %>
    <h1>Washer Register Page</h1>
    <form action="/washer/add" method="POST">
      <label for="username">Username</label><br>
      <input type="text" name="username"><br>
      <label for="password">Password</label><br>
      <input type="password" name="password"><br>
      <label for="email">Email</label><br>
      <input type="email" name="email"><br>
      <label for="">First Name</label><br>
      <input type="text" name="firstname"><br>
      <label for="">Last Name</label><br>
      <input type="text" name="lastname"><br>
      <button>Register</button>
    </form>
    Or, <a href="/user/add">Sign up as User</a>
  </section>
</body>
</html>