<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Work Start</title>
</head>
<body>
    <h1>Now Let's Get to Work!</h1>
    <p>Jika sudah selesai dengan pekerjaan tekan tombol ini:</p>
    <form action="/washer/workdone" method="GET">
        <button type="submit">Start</button>
    </form>
</body>
</html>